body {
    font-family: "Montserrat", "Arial", sans-serif;
}


h1 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0px 10px 0px 10px;

}

h2 {
    font-size: 1.5rem;
    padding: 0px 10px 0px 10px;
}

h3 {
    padding: 10px 10px 50px 10px;
    color: #ffc107 !important;
}

h4 {
    font-size: 1.5rem;
    padding: 0px 10px 0px 10px;
    min-height: 70px;
}

p {
    padding: 0px 10px 0px 10px;
}

#title, #experience, #education, #qualifications, #contacts {
    padding: 30px 0px 30px 0px !important;
}

@media (max-width: 992px) { h3, h2 {
    text-align: center !important;
}}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.text {
    color: lightgray;
    text-align: justify;
}

.sad {
    color: lightgray;
}

.navbar-toggler {
    background-color: #ffc107;
}

.navbar-brand {
    font-family: "VT323", "Courier New", monospace;
    font-size: 1.5rem;
    background: #ffc107;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 0px 5px;
    border-radius: 5px 15px;
}

.nav-item {
    padding: 20px 50px 0px;
}

.nav-link {
    color: #ffc107 !important;
}

.nav-link:hover {
    color: yellow !important;
}

.mynavbar {
    margin: 0px 0px 0px 0px !important;
}

.img-fluid {
    border: 2px solid;
    box-shadow: 2px 2px 5px;
    max-height: 300px;
    margin: 30px 0px 30px 0px;
}

#title {
    margin: 0px 20px 0px 20px
}

.title {
    margin: auto;
}

@media (max-width: 992px) { .title {
    text-align: center;
}}


.rightborder {
   padding: 5px;
   border-right: 1px solid;
}

.leftborder {
   padding: 5px;
   border-left: 1px solid;
}

@media (max-width: 992px) { .leftborder, .rightborder {
    border-left: 0px;
    border-right: 0px;
}}

.sticker {
    border-radius: 10px 60px;
    padding: 20px 10px 10px 10px;
}

hr {
border-top: 2px solid;
}

.exp-sticker {
    height:300px;
    padding: 10px 10px 10px 10px;
}

.darkgreytext {
    color: #292b2c !important;
}

.occ {
    padding: 0px 0px 0px 0px;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 8px 20px !important;
    margin-left: auto;
    margin-right: auto;
    color: #ffc107;
}

#carouselExampleIndicators {
    padding: 20px 10px 10px 10px;
}

#experience, #qualifications {
    background: #181818;
}

.contact {
    color: #ffc107 !important;
    padding: 10px 10py 100px 10px;
}








